.step {
    width: 90%;
    margin: auto;    
    /* border: 3px solid green; */

    padding: 5px;
    margin: 3px;
    text-align: center;
    /* display: bock; */
    margin-left: auto;
    margin-right: auto;
    /* width: 90%; */
}